# Project name (for container naming)
PROJECT_NAME=plan

# Next.js API URL
# Development:
NEXT_PUBLIC_API_URL=http://localhost:8000

# Production (on server):
# NEXT_PUBLIC_API_URL=https://api-planner.msolve.it

# Node environment
NODE_ENV=production
PORT=3000
