# Production environment variables
# Skopiuj do .env.prod na serwerze

###> symfony/framework-bundle ###
APP_ENV=prod
APP_SECRET=ZMIEN_NA_LOSOWY_SECRET_64_ZNAKI
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
POSTGRES_VERSION=16
POSTGRES_DB=plan_production
POSTGRES_USER=plan_user
POSTGRES_PASSWORD=ZMIEN_NA_SILNE_HASLO
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@database:5432/${POSTGRES_DB}?serverVersion=${POSTGRES_VERSION}&charset=utf8"
###< doctrine/doctrine-bundle ###

# Project
PROJECT_NAME=plan

###> symfony/cache + rate-limiter ###
# Redis connection for cache and rate limiting
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_URL=redis://${REDIS_HOST}:${REDIS_PORT}
###< symfony/cache + rate-limiter ###

FRONTEND_URL=http://localhost:3000
MAILER_FROM=noreply@example.com
